@model IEnumerable<App.Models.StudentModel>
@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Students" asp-action="Index" method="get">
  <div class="form-actions no-color">
    <p>
      Search by Student Email: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
      <input type="submit" value="SearchFilter" class="btn btn-primary" /> | <a asp-action="Index">Return to Student List</a>
    </p>
  </div>
</form>

<a asp-controller="Students" asp-action="Create" class="btn btn-primary">Add a new student</a>
<hr>
<table class="table table-bordered table-striped table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Address Information</th>
            <th>Personal Number</th>
            <th>Course Id</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center;">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fal fa-edit"></i></a>
                </td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.MobileNumber</td>
                <td>@item.AddressInformation</td>
                <td>@item.PersonalNumber</td>
                <td>@item.CourseId</td>
                <td style="text-align: center;"><a asp-action="Details" asp-route-studentEmail="@item.Email"><i class="fas fa-info-circle"></i></a></td>

                <td style="text-align: center;"><a asp-action="Delete" asp-route-studentEmail="@item.Email"><i style="color: red;" class="fas fa-trash-alt"></i></a></td>
            </tr>       
        }
    </tbody>
</table>
