@model IEnumerable<App.Models.CourseModel>

<a asp-controller="Courses" asp-action="Create" class="btn btn-primary">Add new course</a>
<hr>
<table class="table table-bordered table-striped table-hover table-sm">
    <thead class="table-dark">
     <tr>
       <th></th>
       <th>Course Number</th>
       <th>Course Title</th>
       <th>Course Description</th>
       <th>Course Length</th>
       <th>Category</th>
       <th>Course Level</th>
       <th>Course Price</th>
       <th>Status</th>
     </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
          <tr>
            <td style="text-align: center;">
              <a asp-action="Edit" asp-route-id="@item.Id"><i class="fal fa-edit"></i></a>
            </td>
            <td>@item.CourseNumber</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Length</td>
            <td>@item.Category</td>
            <td>@item.CourseLevel</td>
            <td>@item.Price</td>
            <td>@item.Status</td>
            <th style="text-align: center;"><a asp-action="Details" asp-route-courseNo="@item.CourseNumber"><i 
                class="fal-fa-info-circle"></i></a></th>
            <th style="text-align: center;"><a asp-action="Delete" asp-route-courseNo="@item.CourseNumber"><i 
                class="fal-fa-trash-alt" style="color:red;"></i></a></th>
            </tr>
        }
    </tbody>
    </table>
    

